In [2]:
import pandas as pd

In [3]:
train_data = pd.read_csv('data_assignment2/train_fact.csv')
ext_df = pd.read_csv('data_assignment2/external_data.csv')
prev_df = pd.read_csv('data_assignment2/prev_filtered.csv')

# Feature engineering

Feature engineering is all about creating more information from the information you have. Not all raw data can be used as is.

For example categorical variables cannot be used "as is" therefore we have to one hot encode these variables to use them. Here is one example for gender.


We usually have two types of variables, continuous and categorical

Continuous variables are basically numeric features, it can take any numerical value. In this dataset DAYS BIRTH is an example of a continuous feature. These features are probably a good starting point since we can use them directly in a machine learning model.

Categorical variables are different as in that a variable is categorized in two or more categories. In this dataset GENDER is a categorical variable. It has just three categories: male, female or XNA. Often categorical variables are often strings and have to be transformed in some way as they cannot be used directly in a machine learning model. A machine learning model works with numbers, not with strings.


# The desired state of the data before we can apply machine learning

Before we can train a machine learning we have to transform the dataset into a format that a machine learning model can use.

As mentioned earlier, a machine learning model expects numbers, there should be no string columns.

Q1: how are we going to transform the string columns to a numerical column(s)?

We want to extract as much data from our dataset as possible.

Q2: how can we extract more information from the dataset then the data already provides?

Eventually we want to get to a situation where each column is a feature and the target variable in the end.

Eg:

feat_1, feat_2, feat_3, 'TARGET'

In [4]:
train_data = pd.get_dummies(train_data, columns=['CODE_GENDER'])

In [5]:
train_data.shape

(50000, 124)

Here is an example of how we can add more information such as "income per child"

In [6]:
train_data['income_per_child'] = train_data['AMT_INCOME_TOTAL'] / (train_data['CNT_CHILDREN'] + 1)

The historical data is more complex, since we only have current records in our prediction table, we have to transform the history to a single row of variables to add to our prediction table.

In [7]:
prev_agg = prev_df.groupby('SK_ID_CURR').agg({
    'AMT_CREDIT': ['min', 'max', 'mean', 'sum']
})
prev_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in prev_agg.columns.tolist()])

In [8]:
ext_df = pd.read_csv('data_assignment2/external_data.csv')
ext_agg = ext_df.groupby('SK_ID_CURR').agg({
    'AMT_CREDIT_SUM': ['min', 'max', 'mean', 'sum']
})
ext_agg.columns = pd.Index(
    ['EXT_' + e[0] + "_" + e[1].upper() for e in ext_agg.columns.tolist()])

We can now merge the aggregates with our prediction table.

In [9]:
train_data = pd.merge(train_data, prev_agg, how='left', on='SK_ID_CURR')
train_data = pd.merge(train_data, ext_agg, how='left', on='SK_ID_CURR')

In [10]:
train_data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CODE_GENDER_XNA,income_per_child,PREV_AMT_CREDIT_MIN,PREV_AMT_CREDIT_MAX,PREV_AMT_CREDIT_MEAN,PREV_AMT_CREDIT_SUM,EXT_AMT_CREDIT_SUM_MIN,EXT_AMT_CREDIT_SUM_MAX,EXT_AMT_CREDIT_SUM_MEAN,EXT_AMT_CREDIT_SUM_SUM
0,100002,1,Cash loans,N,Y,0,202500.000,406597.5,24700.5,351000.0,...,0,202500.000,179055.000,179055.00,179055.000000,1.790550e+05,0.00,450000.000,1.081319e+05,865055.565
1,100003,0,Cash loans,N,N,0,270000.000,1293502.5,35698.5,1129500.0,...,0,270000.000,68053.500,1035882.00,484191.000000,1.452573e+06,22248.00,810000.000,2.543501e+05,1017400.500
2,100004,0,Revolving loans,Y,Y,0,67500.000,135000.0,6750.0,135000.0,...,0,67500.000,20106.000,20106.00,20106.000000,2.010600e+04,94500.00,94537.800,9.451890e+04,189037.800
3,100006,0,Cash loans,N,Y,0,135000.000,312682.5,29686.5,297000.0,...,0,135000.000,0.000,906615.00,291695.500000,2.625260e+06,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,N,Y,0,121500.000,513000.0,21865.5,513000.0,...,0,121500.000,14616.000,284400.00,166638.750000,9.998325e+05,146250.00,146250.000,1.462500e+05,146250.000
5,100008,0,Cash loans,N,Y,0,99000.000,490495.5,27517.5,454500.0,...,0,99000.000,0.000,501975.00,162767.700000,8.138385e+05,95134.50,267606.000,1.561485e+05,468445.500
6,100009,0,Cash loans,Y,Y,1,171000.000,1560726.0,41301.0,1395000.0,...,0,85500.000,38574.000,98239.50,70137.642857,4.909635e+05,35770.50,1777500.000,2.667118e+05,4800811.500
7,100010,0,Cash loans,Y,Y,0,360000.000,1530000.0,42075.0,1530000.0,...,0,360000.000,260811.000,260811.00,260811.000000,2.608110e+05,315000.00,675000.000,4.950000e+05,990000.000
8,100011,0,Cash loans,N,Y,0,112500.000,1019610.0,33826.5,913500.0,...,0,112500.000,0.000,732915.00,261840.375000,1.047362e+06,54000.00,145242.000,1.088071e+05,435228.300
9,100012,0,Revolving loans,N,Y,0,135000.000,405000.0,20250.0,405000.0,...,0,135000.000,0.000,158508.00,74119.500000,2.964780e+05,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,N,Y,1,112500.000,652500.0,21177.0,652500.0,...,0,56250.000,73800.000,131868.00,102834.000000,2.056680e+05,26194.50,900000.000,3.412416e+05,2729932.425
11,100015,0,Cash loans,N,Y,0,38419.155,148365.0,10678.5,135000.0,...,0,38419.155,67077.000,67077.00,67077.000000,6.707700e+04,89752.50,131103.000,1.023739e+05,409495.500
12,100016,0,Cash loans,N,Y,0,67500.000,80865.0,5881.5,67500.0,...,0,67500.000,42403.500,232200.00,106221.375000,4.248855e+05,22086.00,91264.500,6.785486e+04,474984.000
13,100017,0,Cash loans,Y,N,1,225000.000,918468.0,28966.5,697500.0,...,0,112500.000,152721.000,198409.50,175565.250000,3.511305e+05,25231.50,315000.000,1.432950e+05,859770.000
14,100018,0,Cash loans,N,Y,0,189000.000,773680.5,32778.0,679500.0,...,0,189000.000,36805.365,536364.00,285989.591250,1.143958e+06,NaN,NaN,NaN,NaN
15,100019,0,Cash loans,Y,Y,0,157500.000,299772.0,20160.0,247500.0,...,0,157500.000,104683.500,104683.50,104683.500000,1.046835e+05,270000.00,450000.000,3.600000e+05,720000.000
16,100020,0,Cash loans,N,N,0,108000.000,509602.5,26149.5,387000.0,...,0,108000.000,35086.500,48325.50,41706.000000,8.341200e+04,16200.00,135000.000,4.987125e+04,199485.000
17,100021,0,Revolving loans,N,Y,1,81000.000,270000.0,13500.0,270000.0,...,0,40500.000,13500.000,675000.00,153615.750000,9.216945e+05,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,N,Y,0,112500.000,157500.0,7875.0,157500.0,...,0,112500.000,103203.000,103203.00,103203.000000,1.032030e+05,292500.00,765000.000,5.287500e+05,1057500.000
19,100023,0,Cash loans,N,Y,1,90000.000,544491.0,17563.5,454500.0,...,0,45000.000,45000.000,239242.50,113517.000000,4.540680e+05,22500.00,444078.000,1.265917e+05,1645692.345
20,100024,0,Revolving loans,Y,Y,0,135000.000,427500.0,21375.0,427500.0,...,0,135000.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,0,Cash loans,Y,Y,1,202500.000,1132573.5,37561.5,927000.0,...,0,101250.000,0.000,1042560.00,295425.781875,2.363406e+06,2452500.00,2452500.000,2.452500e+06,2452500.000
22,100026,0,Cash loans,N,N,1,450000.000,497520.0,32521.5,450000.0,...,0,225000.000,0.000,744498.00,292281.000000,8.768430e+05,1350000.00,2700000.000,1.875000e+06,5625000.000
23,100027,0,Cash loans,N,Y,0,83250.000,239850.0,23850.0,225000.0,...,0,83250.000,0.000,239850.00,173795.625000,6.951825e+05,40297.50,427500.000,2.084325e+05,625297.500
24,100029,0,Cash loans,Y,N,2,135000.000,247500.0,12703.5,247500.0,...,0,45000.000,126000.000,126000.00,126000.000000,1.260000e+05,24016.50,3735000.000,1.857008e+06,7428033.000
25,100030,0,Cash loans,N,Y,0,90000.000,225000.0,11074.5,225000.0,...,0,90000.000,15349.500,49734.00,32534.643750,3.904157e+05,0.00,508500.000,1.072385e+05,643430.970
26,100031,1,Cash loans,N,Y,0,112500.000,979992.0,27076.5,702000.0,...,0,112500.000,NaN,NaN,NaN,NaN,90000.00,1350000.000,5.672359e+05,3970651.500
27,100032,0,Cash loans,N,Y,1,112500.000,327024.0,23827.5,270000.0,...,0,56250.000,42255.000,42255.00,42255.000000,4.225500e+04,152910.00,454500.000,3.177900e+05,1271160.000
28,100033,0,Cash loans,Y,Y,0,270000.000,790830.0,57676.5,675000.0,...,0,270000.000,53329.500,53329.50,53329.500000,5.332950e+04,675000.00,675000.000,6.750000e+05,675000.000
29,100034,0,Revolving loans,N,Y,0,90000.000,180000.0,9000.0,180000.0,...,0,90000.000,109971.000,115083.00,112527.000000,2.250540e+05,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,157843,0,Cash loans,N,Y,0,270000.000,675000.0,26901.0,675000.0,...,0,270000.000,0.000,808650.00,139719.750000,8.383185e+05,20741.04,675000.000,1.262765e+05,1767870.540
49971,157844,0,Cash loans,N,Y,0,157500.000,485640.0,33930.0,450000.0,...,0,157500.000,23535.000,1095111.00,187353.500000,1.686182e+06,94621.50,507555.000,2.250428e+05,1125213.840
49972,157845,0,Cash loans,N,N,1,99000.000,269550.0,14751.0,225000.0,...,0,49500.000,0.000,787131.00,218882.700000,1.094414e+06,40707.00,270000.000,1.696530e+05,1017918.000
49973,157846,1,Cash loans,N,Y,2,157500.000,593010.0,23107.5,495000.0,...,0,52500.000,32287.500,1546020.00,923911.071429,6.467378e+06,16875.00,1012500.000,3.582570e+05,2149542.000
49974,157848,0,Cash loans,N,Y,1,112500.000,970380.0,28503.0,810000.0,...,0,56250.000,147330.000,147330.00,147330.000000,1.473300e+05,27630.00,27630.000,2.763000e+04,27630.000
49975,157849,0,Cash loans,N,Y,0,157500.000,413442.0,27630.0,413442.0,...,0,157500.000,143910.000,173416.50,158663.250000,3.173265e+05,NaN,NaN,NaN,NaN
49976,157850,1,Cash loans,N,Y,1,157500.000,679266.0,26451.0,567000.0,...,0,78750.000,0.000,765000.00,201578.250000,1.209470e+06,540000.00,540000.000,5.400000e+05,540000.000
49977,157851,0,Cash loans,N,Y,0,157500.000,239850.0,25317.0,225000.0,...,0,157500.000,0.000,509922.00,220708.800000,2.207088e+06,90018.00,492412.500,2.376968e+05,1426180.500
49978,157852,0,Cash loans,N,N,0,67500.000,533668.5,21865.5,477000.0,...,0,67500.000,71955.000,71955.00,71955.000000,7.195500e+04,NaN,NaN,NaN,NaN
49979,157853,0,Cash loans,N,N,0,112500.000,531706.5,29817.0,459000.0,...,0,112500.000,111235.500,111235.50,111235.500000,1.112355e+05,0.00,342000.000,1.179658e+05,1061692.515
49980,157854,0,Cash loans,N,N,0,180000.000,467874.0,14184.0,467874.0,...,0,180000.000,0.000,450000.00,102687.000000,6.161220e+05,90000.00,121899.555,1.059498e+05,211899.555
49981,157855,0,Cash loans,N,Y,0,112500.000,237204.0,10575.0,198000.0,...,0,112500.000,0.000,375322.50,79433.000000,7.148970e+05,157500.00,157500.000,1.575000e+05,157500.000
49982,157856,0,Cash loans,Y,Y,0,135000.000,278613.0,29385.0,252000.0,...,0,135000.000,0.000,366934.50,79685.100000,7.968510e+05,11250.00,180000.000,8.550000e+04,342000.000
49983,157857,0,Revolving loans,Y,N,0,99000.000,270000.0,13500.0,270000.0,...,0,99000.000,54418.500,54418.50,54418.500000,5.441850e+04,NaN,NaN,NaN,NaN
49984,157858,0,Cash loans,N,N,0,126000.000,270000.0,15498.0,270000.0,...,0,126000.000,0.000,157500.00,78750.000000,1.575000e+05,125914.50,675000.000,3.172393e+05,2537914.500
49985,157860,0,Cash loans,N,Y,0,301500.000,481495.5,36130.5,454500.0,...,0,301500.000,0.000,1369773.00,248236.500000,2.234128e+06,78705.00,900000.000,2.848410e+05,1424205.000
49986,157861,1,Cash loans,Y,N,0,135000.000,270000.0,21330.0,270000.0,...,0,135000.000,18796.500,80752.50,56301.000000,1.689030e+05,65700.00,65700.000,6.570000e+04,65700.000
49987,157862,0,Cash loans,Y,Y,1,90000.000,900000.0,26446.5,900000.0,...,0,45000.000,0.000,58608.00,26640.000000,1.332000e+05,15322.50,540000.000,2.083005e+05,2291305.500
49988,157863,0,Revolving loans,Y,Y,0,162000.000,540000.0,27000.0,540000.0,...,0,162000.000,0.000,225000.00,72806.625000,5.824530e+05,22450.50,283500.000,1.132062e+05,1698093.000
49989,157865,0,Revolving loans,N,Y,0,135000.000,270000.0,13500.0,270000.0,...,0,135000.000,157500.000,167175.00,162337.500000,3.246750e+05,124650.00,124650.000,1.246500e+05,124650.000
49990,157867,0,Revolving loans,N,Y,0,112500.000,180000.0,9000.0,180000.0,...,0,112500.000,0.000,101313.00,42205.500000,2.110275e+05,0.00,498150.000,1.420891e+05,1420890.750
49991,157868,0,Cash loans,Y,Y,0,135000.000,1078200.0,31653.0,900000.0,...,0,135000.000,65115.000,153115.47,109115.235000,2.182305e+05,142056.00,149755.500,1.459058e+05,291811.500
49992,157869,0,Revolving loans,N,Y,3,58500.000,157500.0,7875.0,157500.0,...,0,14625.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49993,157870,0,Revolving loans,N,N,0,202500.000,450000.0,22500.0,450000.0,...,0,202500.000,0.000,1408806.00,364199.062500,2.913592e+06,0.00,88690.500,4.434525e+04,88690.500
49994,157871,0,Cash loans,N,N,0,180000.000,1206000.0,45936.0,1206000.0,...,0,180000.000,NaN,NaN,NaN,NaN,202500.00,441000.000,3.217500e+05,643500.000
49995,157872,0,Cash loans,N,N,0,126000.000,1125000.0,47794.5,1125000.0,...,0,126000.000,109480.500,171126.00,143278.500000,4.298355e+05,324000.00,324000.000,3.240000e+05,324000.000
49996,157873,0,Cash loans,N,N,1,112500.000,900000.0,26316.0,900000.0,...,0,56250.000,34537.500,585000.00,237778.875000,9.511155e+05,67500.00,315000.000,2.025000e+05,810000.000
49997,157874,0,Cash loans,N,Y,0,270000.000,820638.0,34897.5,733500.0,...,0,270000.000,0.000,1560726.00,672510.326087,1.546774e+07,0.00,557158.500,1.080873e+05,2486008.890
49998,157875,0,Cash loans,N,Y,0,117000.000,254700.0,14751.0,225000.0,...,0,117000.000,150907.500,150907.50,150907.500000,1.509075e+05,64777.50,1436170.500,3.215660e+05,2572528.185
49999,157876,0,Cash loans,N,Y,0,67500.000,343800.0,16155.0,225000.0,...,0,67500.000,45000.000,118435.50,81717.750000,1.634355e+05,23729.85,90000.000,5.686493e+04,113729.850

In [11]:
train_data.shape

(50000, 133)

You can see we already added 9 new features!

# Your turn!

What other features can you come up with?

- What features have to be transformed, eg categorical variables, transformations over the income etc.
- How can we extract more value from our history?
- What other creative features can you come up with?

Some ideas:

- What's the term of the loan?
- How many times did someone pay late in the past?
- How many times did a previous attempt get rejected?
- Time might be important, more recent information might be more relevant then earlier information