In [1]:
import pandas as pd

In [8]:
train_data = pd.read_csv('data_assignment2/train_fact.csv')
ext_df = pd.read_csv('data_assignment2/external_data.csv')
prev_df = pd.read_csv('data_assignment2/prev_filtered.csv')

# Feature engineering

Feature engineering is all about creating more information from the information you have. Not all raw data can be used as is.

For example categorical variables cannot be used "as is" therefore we have to one hot encode these variables to use them. Here is one example for gender.


We usually have three types of variables, continuous, ordinal and categorical

Continuous variables are basically numeric features, it can take any numerical value. In this dataset age is an example of a continuous feature. These features are probably a good starting point since we can use them directly in a machine learning model.

Categorical variables are different as in that a variable is categorized in two or more categories. In this dataset sex is a categorical variable. It has just two categories: male, female. Often categorical variables are often strings and have to be transformed in some way as they cannot be used directly in a machine learning model. A machine learning model works with numbers, not with strings.

Ordinal variables are similar to categorical features, however there is some order in it. Eg. small, medium, tall is a categorical feature but there is still order in the features. In this dataset the Pclass is an ordinal variable, there are just 3 classes however there is order in the classes.

# The desired state of the data before we can apply machine learning

Before we can train a machine learning we have to transform the dataset into a format that a machine learning model can use.

As mentioned earlier, a machine learning model expects numbers, there should be no string columns.

Q1: how are we going to transform the string columns to a numerical column(s)?

We want to extract as much data from our dataset as possible.

Q2: how can we extract more information from the dataset then the data already provides?

Eventually we want to get to a situation where each column is a feature and the target variable in the end.

Eg:

feat_1, feat_2, feat_3, 'TARGET'

In [23]:
train_data = pd.get_dummies(train_data, columns=['CODE_GENDER'])

Here is an example of how we can add more information such as "income per child"

In [6]:
train_data['income_per_child'] = train_data['AMT_INCOME_TOTAL'] / (train_data['CNT_CHILDREN'] + 1)

The historical data is more complex, since we only have current records in our prediction table, we have to transform the history to a single row of variables to add to our prediction table.

In [9]:
prev_agg = prev_df.groupby('SK_ID_CURR').agg({
    'AMT_CREDIT': ['min', 'max', 'mean', 'sum']
})
prev_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in prev_agg.columns.tolist()])

In [15]:
ext_df = pd.read_csv('data_assignment2/external_data.csv')
ext_agg = ext_df.groupby('SK_ID_CURR').agg({
    'AMT_CREDIT_SUM': ['min', 'max', 'mean', 'sum']
})
ext_agg.columns = pd.Index(
    ['EXT_' + e[0] + "_" + e[1].upper() for e in ext_agg.columns.tolist()])

We can now merge the aggregates with our prediction table.

In [16]:
train_data = pd.merge(train_data, prev_agg, how='left', on='SK_ID_CURR')
train_data = pd.merge(train_data, ext_df, how='left', on='SK_ID_CURR')

In [17]:
train_data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY_x,...,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY_y
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-1038.0,NaN,0.0,40761.000,NaN,NaN,0.0,Credit card,-1038.0,0.000
1,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-48.0,NaN,0.0,0.000,0.00,NaN,0.0,Credit card,-47.0,NaN
2,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-1185.0,0.000,0.0,135000.000,0.00,0.000,0.0,Consumer credit,-1185.0,0.000
3,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-911.0,3321.000,0.0,19071.000,NaN,NaN,0.0,Consumer credit,-906.0,0.000
4,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-36.0,5043.645,0.0,120735.000,0.00,0.000,0.0,Consumer credit,-34.0,0.000
5,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,NaN,40.500,0.0,31988.565,0.00,31988.565,0.0,Credit card,-24.0,0.000
6,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,NaN,NaN,0.0,450000.000,245781.00,0.000,0.0,Consumer credit,-7.0,0.000
7,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-967.0,0.000,0.0,67500.000,NaN,NaN,0.0,Credit card,-758.0,0.000
8,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,-2131.0,0.000,0.0,22248.000,0.00,0.000,0.0,Consumer credit,-2131.0,NaN
9,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,-540.0,0.000,0.0,112500.000,0.00,0.000,0.0,Credit card,-540.0,NaN
10,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,-621.0,0.000,0.0,72652.500,0.00,0.000,0.0,Consumer credit,-550.0,NaN
11,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,NaN,0.000,0.0,810000.000,0.00,810000.000,0.0,Credit card,-43.0,NaN
12,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,-683.0,NaN,0.0,94500.000,0.00,0.000,0.0,Consumer credit,-682.0,NaN
13,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,-382.0,0.000,0.0,94537.800,0.00,0.000,0.0,Consumer credit,-382.0,NaN
14,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,-783.0,0.000,0.0,146250.000,0.00,0.000,0.0,Consumer credit,-783.0,NaN
16,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,-1028.0,NaN,0.0,105705.000,0.00,0.000,0.0,Consumer credit,-1027.0,NaN
17,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,NaN,0.000,0.0,267606.000,240057.00,0.000,0.0,Consumer credit,-16.0,NaN
18,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,-790.0,NaN,0.0,95134.500,0.00,0.000,0.0,Consumer credit,-790.0,NaN
19,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,-986.0,NaN,0.0,114799.500,NaN,NaN,0.0,Consumer credit,-983.0,NaN
20,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,-313.0,NaN,0.0,61965.000,0.00,0.000,0.0,Consumer credit,-283.0,NaN
21,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,-415.0,NaN,0.0,351000.000,0.00,0.000,0.0,Consumer credit,-375.0,NaN
22,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,-1244.0,NaN,0.0,93465.000,0.00,0.000,0.0,Consumer credit,-782.0,NaN
23,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,-1055.0,NaN,0.0,37710.000,0.00,0.000,0.0,Consumer credit,-1055.0,NaN
24,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,-819.0,NaN,0.0,1777500.000,0.00,0.000,0.0,Consumer credit,-591.0,NaN
25,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,-1580.0,NaN,0.0,66825.000,0.00,0.000,0.0,Consumer credit,-1549.0,NaN
26,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,NaN,NaN,0.0,337500.000,326628.00,0.000,0.0,Credit card,-86.0,NaN
27,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,NaN,NaN,0.0,642861.000,557959.50,0.000,0.0,Consumer credit,-27.0,NaN
28,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,-2152.0,NaN,0.0,247500.000,NaN,NaN,0.0,Consumer credit,-2152.0,NaN
29,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,-1245.0,NaN,0.0,93465.000,0.00,NaN,0.0,Consumer credit,-1127.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245342,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-65.0,NaN,0.0,9000.000,0.00,NaN,0.0,Microloan,-65.0,38821.500
245343,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-23.0,NaN,0.0,36000.000,0.00,NaN,0.0,Microloan,-23.0,0.000
245344,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-828.0,NaN,0.0,0.000,0.00,0.000,0.0,Credit card,-820.0,0.000
245345,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-766.0,NaN,0.0,157500.000,0.00,0.000,0.0,Consumer credit,-553.0,17626.500
245346,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,NaN,NaN,0.0,255555.000,97821.00,0.000,0.0,Consumer credit,-11.0,22286.250
245347,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,NaN,NaN,0.0,557158.500,232272.00,0.000,0.0,Consumer credit,-6.0,17812.485
245348,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-828.0,NaN,0.0,501507.000,0.00,NaN,0.0,Credit card,-822.0,0.000
245349,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-167.0,NaN,0.0,4500.000,0.00,NaN,0.0,Microloan,-167.0,0.000
245350,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-167.0,NaN,0.0,9000.000,0.00,NaN,0.0,Microloan,-167.0,NaN
245351,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-167.0,NaN,0.0,9000.000,0.00,NaN,0.0,Microloan,-167.0,0.000
245352,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-167.0,NaN,0.0,4500.000,0.00,NaN,0.0,Microloan,-167.0,0.000
245353,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-112.0,NaN,0.0,9000.000,0.00,NaN,0.0,Microloan,-112.0,0.000
245354,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-112.0,NaN,0.0,9000.000,0.00,NaN,0.0,Microloan,-112.0,22286.250
245355,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-112.0,NaN,0.0,9000.000,0.00,NaN,0.0,Microloan,-112.0,NaN
245356,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-72.0,NaN,0.0,9000.000,0.00,NaN,0.0,Microloan,-72.0,0.000
245357,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-72.0,NaN,0.0,9000.000,0.00,NaN,0.0,Microloan,-72.0,NaN
245358,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-65.0,NaN,0.0,9000.000,0.00,NaN,0.0,Microloan,-65.0,NaN
245359,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-41.0,NaN,0.0,13500.000,0.00,NaN,0.0,Microloan,-41.0,0.000
245360,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-41.0,NaN,0.0,13500.000,0.00,NaN,0.0,Microloan,-41.0,0.000
245361,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,...,-126.0,0.000,0.0,148131.315,0.00,0.000,0.0,Consumer credit,-125.0,NaN
245362,157875,0,Cash loans,F,N,Y,0,117000.0,254700.0,14751.0,...,-1014.0,NaN,0.0,112500.000,0.00,0.000,0.0,Consumer credit,-904.0,NaN
245363,157875,0,Cash loans,F,N,Y,0,117000.0,254700.0,14751.0,...,NaN,NaN,0.0,225000.000,0.00,NaN,0.0,Consumer credit,-1137.0,NaN
245364,157875,0,Cash loans,F,N,Y,0,117000.0,254700.0,14751.0,...,-779.0,NaN,0.0,112500.000,NaN,NaN,0.0,Consumer credit,-776.0,NaN
245365,157875,0,Cash loans,F,N,Y,0,117000.0,254700.0,14751.0,...,-789.0,NaN,0.0,450000.000,0.00,NaN,0.0,Consumer credit,-732.0,NaN
245366,157875,0,Cash loans,F,N,Y,0,117000.0,254700.0,14751.0,...,-489.0,0.000,0.0,81580.185,0.00,0.000,0.0,Consumer credit,-482.0,NaN
245367,157875,0,Cash loans,F,N,Y,0,117000.0,254700.0,14751.0,...,NaN,0.000,0.0,1436170.500,1370755.44,0.000,0.0,Consumer credit,-21.0,NaN
245368,157875,0,Cash loans,F,N,Y,0,117000.0,254700.0,14751.0,...,-2217.0,NaN,0.0,90000.000,NaN,NaN,0.0,Consumer credit,-2217.0,NaN
245369,157875,0,Cash loans,F,N,Y,0,117000.0,254700.0,14751.0,...,-1820.0,0.000,0.0,64777.500,0.00,0.000,0.0,Consumer credit,-1462.0,NaN
245370,157876,0,Cash loans,F,N,Y,0,67500.0,343800.0,16155.0,...,-2280.0,0.000,0.0,23729.850,0.00,0.000,0.0,Consumer credit,-2280.0,NaN
245371,157876,0,Cash loans,F,N,Y,0,67500.0,343800.0,16155.0,...,NaN,0.000,0.0,90000.000,0.00,0.000,0.0,Credit card,-608.0,NaN

# Your turn!

What other features can you come up with?

- What features have to be transformed, eg categorical variables, transformations over the income etc.
- How can we extract more value from our history?
- What other creative features can you come up with?

Some ideas:

- What's the term of the loan?
- How many times did someone pay late in the past?
-